:root {
    --color--primary-dark: #31261a;
    --color--primary-light: #faf4ea;
    --color--brand-light: #819b57;
    --color--brand-dark: #465929;
}

/* BASE */
* {
    box-sizing: border-box;
}

body {
    
    color: var(--color--primary-dark);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;  
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.section {
    padding: 48px 0;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

/*  BUTTON */
.button-main {
    padding: 16px 32px;
    color: var(--color--primary-light);
    font-weight: 600;
    background: var(--color--brand-light);
    border: 2px solid var(--color--brand-light);
    border-radius: 8px;
    cursor: pointer;
}

.button-main:hover {
    background-color: transparent;
    color: var(--color--brand-dark);
}

/* LINK */
.link {
    color: var(--color--primary-light);
    text-decoration: none;
}

.link:hover {
    color: var(--color--brand-light);
    
}

.address-link {
    color: var(--color--primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover {
    color: var(--color--brand-light);
    font-size: 16px;
    font-weight: 300;
}

/* HERO SECTION */
.hero-section {
    padding: 272px 0;

}

.hero-title {
    color: var(--color--primary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
    margin-bottom: 0;
}

.hero-title .accent {
    color: var(--color--brand-light);
}

/* ADVANTAGES SECTION*/
.advantages-section {
    background-color: var(--color--brand-light); 
    padding: 16px 0;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.advantages-item {
    color: var(--color--primary-light);
    font-size: 20px;
    font-weight: 300;

}

/* SECTIONS SECTION */
.section-title .accent {
    color: var(--color--brand-dark);
}

.section-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

/* TRADITIONS SECTION */
.traditions-section {
    padding-top: 96px;
}

.traditions-container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.traditions-content {
    min-width: 710px;
}

.traditions-text {
    text-transform: uppercase;
    color: var(--color--brand-light);
    font-weight: 600;
}

.traditional-text {
    color: var(--color--brand-light);
    font-weight: 600;
}

.traditions-title {
    margin-bottom: 42px;
}

.brand {
    color: var(--color--brand-light);
    font-weight: 600;
}

/* CHEFS SECTIONS */
.chef-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
}

.chefs-tilte {
    margin-bottom: 80px;
}

/* FORMATS SECTIONS */
.format-card {
    padding: 24px;
    border: 1px solid lightgray;
    border-radius: 16px;
}

.formats-item {
    flex-basis: calc((100% - 40px) / 3);
}

.formats-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.format-title {
    font-size: 24px;
    font-weight: 600;
}

.formats-title {
    margin-bottom: 80px;
}

.format-text {
    font-size: 14px;
    font-weight: 300;
}

.address-copyright {
    font-size: 14px;
}

/* CONTACT SECTIONS */
.contact-title {
    margin-bottom: 16px;
}

/* HEADER */
.header-container {
    display: flex;
    align-items: center;
    gap: 40px; 
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}

.header-menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}
